.form-group {
    margin-left: 20%;  /* отступ слева*/
    position: absolute;
    left: 100px;
    top: 60px;
    width: 500px;
    background: #fc0;
    padding: 20px;/* Поля вокруг текста*/
}

.checkbox {
    width: 100px;
    margin-top: 130px;
    margin-left: 420px;
    background-color: aqua; /* цвет фона*/
}
.sort {
    width: 150px;
    margin-left: 950px;
    background-color: olivedrab; /* цвет фона*/
}
.btn-primary {
    margin-top: 140px;
}
.layer {
    margin-left: 220px;
}
table {
    width: 75%;
    margin-left: 200px;
    margin-top: 100px;
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid  grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
tr {
    border: 1px solid grey;
    width: 20%;
    background-color: red;
}
.warp {
    margin-left: 420px;
}
#myButton {
    background-color: transparent;
}
.sub-menu {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in;
}
h3 {
    color: blue;
    width: 100%;
}
.menu-main {
    position: absolute;
    width: 15%;
}


