<web-app>
    <!-- add servlet-->
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>ru.pribytkov.servlets.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <!-- list servlet -->
    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>ru.pribytkov.servlets.ListServlet</servlet-class>
    </servlet>>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
</web-app>
